version: '3.8'
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: smartskin/backend:latest         # <-- image name (change if you want)
    container_name: backend-service
    ports:
      - "5000:5000"
    environment:
      - FLASK_ENV=development
      - PORT=5000

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: smartskin/frontend:latest        # <-- image name (change if you want)
    container_name: frontend-service
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=
    depends_on:
      - backend
